body {
          background-color: lightblue;
      }

      .subtitle {
          color: black;
          font-family: Times new roman;
          font-variant: small-caps;
      }
      
 #container{
 	 
 	border: 1px solid black;
  	padding: 0px;
  	margin-left:30%;
  	margin-right:23% ;
  	background-color: lightgray;
  	width: 40%;
  	font-family: verdana;
  	text-align: justify;
  	
 }
 #header{
 	text-align: center;
 	font-size: 1.5em;
 	font-family: Arial;
 	font-variant: bold;
	text-transform: uppercase;
 }
 
 p {
 	margin-top: 25px;
 }
 
 
 #content{
 	padding-top: 0;
	padding-right: 40px;
	padding-left: 40px;
	margin-left: 0.5%;
	margin-right: 0.5%;
	
}
     
 #menu{
  	border: 1px solid black;
  	background-color: black;
  	color: white;
}
 
      .destaque{
      color:red;      
      }

     .recuo{
     padding-left: 5%;
     }

     ul{
     	list-style-type: horizontal;
     	margin: 0;
     	padding: 0;
     	overflow: hidden;
     	background-color: black
     }   
     
     li{
        display: block;
        color: white;
        text-align: center;
        padding: 6px;
        text-decoration: none;
        float: left;
     }
    
